<template>
  <div class="administrador-container position-relative">
    <b-container>
      <b-row class="mx-auto">
        <b-col sm="12" class="text-left my-3">
          <h1 class="custom-size font-bebas letter-1">¡Hola,Carlos!</h1>
          <h2
            class="text-white font-bebas letter-1"
          >A continuación,te explicamos con unos breves videos todas las funcionalidades disponibles.</h2>
        </b-col>
        <b-col class="mx-auto" sm="12">
          <comp-tutoriales-carousel></comp-tutoriales-carousel>
        </b-col>
        <b-col md="4" class="mx-auto" sm="12">
          <b-button class="bg-black mx-auto" block>Menú principal</b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import TutorialesCarousel from "../components/TutorialesCarousel.vue";
export default {
  name: "Acciones",
  components: {
    "comp-tutoriales-carousel": TutorialesCarousel,
  },

  data: function () {
    return {};
  },
};
</script>


<style lang="scss" scope>
.administrador-container {
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: rgb(254, 190, 32);
  background-image: linear-gradient(
    135deg,
    rgba(254, 190, 32, 1),
    rgba(255, 97, 32, 1),
    rgba(255, 43, 65, 1),
    rgba(255, 32, 221, 1)
  );
  background-position: center;
  background-size: cover;
}
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}

.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
</style>