<template>
  <div>
    <Loading v-if="loading"></Loading>
    <div class="bienvenido-container flex-column-center">
      <b-container>
        <b-row class>
          <b-col sm="12" class="text-center">
            <h1 class="custom-size font-bebas">¡Bienvenida/o!</h1>
          </b-col>
          <b-col class="mx-auto" md="5" sm="12">
            <b-card>
              <b-card-body class="font-weight-bold">
                <b-form @submit="login">
                  <b-form-group
                    id="fieldset-horizontal"
                    label-cols-sm="4"
                    label-cols-lg="4"
                    label="Acceso:"
                    label-for="username"
                  >
                    <b-form-input
                      v-model="username"
                      required
                      type="text"
                      placeholder="Nombre de usuario"
                      id="username"
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    id="fieldset-horizontal"
                    label-cols-sm="4"
                    label-cols-lg="4"
                    label="Contraseña:"
                    label-for="password"
                  >
                    <b-form-input
                      required
                      min-length="8"
                      type="password"
                      placeholder="Clave"
                      v-model="password"
                      id="password"
                    ></b-form-input>
                  </b-form-group>
                  <label
                    v-if="error"
                    class="text-center mx-auto w-100 text-danger"
                    >Credenciales incorrectas</label
                  >
                  <b-form-checkbox
                    class="my-3 text-center form-row form-group"
                    id="remember"
                    name="checkbox-1"
                    value="accepted"
                    unchecked-value="not_accepted"
                    v-model="conected"
                    >Mantenerme conectado</b-form-checkbox
                  >
                  <div class="mt-md-0 text-center form-row form-group">
                    <b-button
                      type="submit"
                      class="custom-button mx-auto"
                      variant="secondary"
                      >Ingresar</b-button
                    >
                  </div>
                </b-form>
              </b-card-body>
              <b-card-text>
                <p class="font-weight-normal text-center">
                  ¿Olvidaste tu contraseña?,
                  <b-link to="recuperar-contrasenia">clic aquí</b-link>
                </p>
              </b-card-text>
            </b-card>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
import Loading from "./../components/Loading,.vue";
export default {
  name: "Bienvenida",
  components: {
    Loading,
  },
  data() {
    return {
      username: "",
      password: "",
      conected: "",
      error: null,
      loading: true,
    };
  },
  mounted() {
    this.loading = false;
  },
  methods: {
    login(event) {
      this.loading = true;
      event.preventDefault();
      const basic = "Basic " + window.btoa(`${this.username}:${this.password}`);
      this.error = false;
      fetch("https://virtualteamroutine.cf/api/netin", {
        method: "GET",
        headers: {
          Authorization: basic,
        },
        credentials: "same-origin",
      })
        .then((data) => data.json())
        .then((data) => {
          localStorage.setItem("token", data["token"]);
          if (this.conected == "accepted") {
            localStorage.setItem("conected", true);
          } else {
            localStorage.removeItem("conected");
          }
          this.loading = false;
          this.$router.push("/vista-administrador");
        })
        .catch((error) => {
          this.loading = false;
          this.error = true;
          console.log(error);
        });
      // const token = await response.json();
    },
  },
};
</script>


<style lang="scss" scope>
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
</style>