<template>
  <div class="bienvenido-container position-relative flex-column-center">
    <b-container>
      <b-row class="mx-auto">
        <b-col sm="12" class="text-center my-3">
          <h1 class="custom-size font-bebas">cambio de contraseña</h1>
        </b-col>
        <b-col class="mx-auto" md="5" sm="12">
          <b-card>
            <b-card-body class="font-weight-bold">
              <b-form @submit="enviar">
                <b-form-group
                  id="fieldset-horizontal"
                  label-cols-sm="5"
                  label-cols-lg="5"
                  label="Clave Actual:"
                  label-for="password"
                >
                  <b-form-input
                    required
                    v-model="anterior"
                    type="password"
                    placeholder="Clave Actual"
                    id="password"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  id="fieldset-horizontal"
                  label-cols-sm="5"
                  label-cols-lg="5"
                  label="Nueva clave:"
                  label-for="new-password"
                >
                  <b-form-input
                    required
                    v-model="newPassword"
                    type="password"
                    placeholder="Clave"
                    id="new-password"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  id="fieldset-horizontal"
                  label-cols-sm="5"
                  label-cols-lg="5"
                  label="Confirme nueva clave:"
                  label-for="repeat"
                >
                  <b-form-input
                    v-model="confirm"
                    required
                    type="password"
                    placeholder="Repita su Clave"
                    id="repeat"
                  ></b-form-input>
                </b-form-group>
                <div class="mt-md-0 text-center form-row form-group">
                  <b-button
                    :disabled="newPassword != confirm"
                    type="submit"
                    class="custom-button mx-auto"
                    variant="secondary"
                    >Generar Clave</b-button
                  >
                </div>
              </b-form>
            </b-card-body>
            <b-card-text class="px-2">
              <p class="text-center">
                Su nueva clave ha sido generada con éxito.
              </p>
            </b-card-text>
          </b-card>
        </b-col>
        <b-col sm="12" class="text-center mx-auto my-3">
          <b-row>
            <b-col sm="12" md="4" class="mx-auto">
              <b-button
                to="/"
                type="submit"
                class="custom-button mx-auto text-decoration-none text-white"
                variant="secondary"
                >Ingresar a VTR</b-button
              >
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "CambioContrasenia",
  components: {},
  data: function () {
    return {
      anterior: null,
      newPassword: null,
      confirm: null,
    };
  },
  methods: {
    enviar(event) {
      const data = JSON.stringify({
        id: 1,
        nueva: this.newPassword,
        anterior: this.anterior,
      });
      event.preventDefault();
      fetch("https://virtualteamroutine.cf/api/cambiar_contrasenha", {
        method: "POST",
        body: data,
        headers: {
          "x-access-token": localStorage.getItem("token"),
        },
      })
        .then((data) => data.json())
        .then((data) => {
          if (data["estado"] == "contraseña anterior incorrecta") {
            alert(data["estado"]);
          } else {
            alert("contraseña cambiada");
            this.$router.push("/vista-administrador");
          }
        })
        .catch(alert);
    },
  },
};
</script>


<style lang="scss" scoped>
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
p {
  font-weight: 600;
}
</style>