<template>
  <div
    class="administrador-container d-flex justify-content-center align-items-center position-relative"
  >
    <b-container>
      <b-row class="mx-auto my-auto">
        <b-col sm="12" class="text-left mt-3">
          <h1
            class="custom-size text-center font-bebas"
          >¡Su solicitud de cambio en el req.nro xxx ha sido enviado con éxito!</h1>
          <h2
            class="text-white display-5 mb-sm-2 my-4 text-center font-bebas"
          >Se le envió por correo los detalles de la solicitud de cambio en su video personalizado, con las funcionalidades indicadas.</h2>
          <h2
            class="text-white display-5 mb-sm-2 my-4 mb-md-5 text-center font-bebas"
          >Cualquier consulta, puede realizarla con el representante de Madison</h2>
        </b-col>
        <b-col md="4" sm="12" class="my-md-5 my-sm-2 mx-auto">
          <b-button
            class="bg-black text-white text-decoration-none"
            to="/vista-administrador"
            block
          >Menu Principal</b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "GuardarRitualSuccess",
  components: {},
  data() {
    return {
      whereSelect: null,
      whereFormat: null,
      where: [
        { value: "null", text: "Este dispositivo" },
        { value: "a", text: "En la nube" },
      ],
      format: [
        { value: "null", text: "MP4" },
        { value: "a", text: "AVI" },
      ],
    };
  },
  methods: {
    previewFiles(event) {
      console.log(event.target.files);
    },
  },
};
</script>



<style lang="scss" scoped>
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}
.custom-input {
  input {
    display: block;
    width: 100%;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: 500;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
p {
  font-weight: 700;
}
img {
  width: 480px;
}
</style>