<template>
  <div>
    <Loading v-if="isLoading"></Loading>
    <b-form class="mb-4">
      <div class="administrador-container position-relative">
        <b-container>
          <b-row class="mx-auto">
            <b-col class="mx-auto" sm="12">
              <b-card class="py-2">
                <b-card-body class="py-0 font-weight-bold">
                  <h2 class="font-bebas">Crear Ritual</h2>
                  <b-form-group
                    id="fieldset-horizontal"
                    label-cols-sm="12"
                    label-cols-lg="5"
                    label="Búsqueda de rituales:"
                    label-for="search"
                  >
                    <b-form-input
                      required
                      type="text"
                      placeholder="¿Qué objetivo quieres lograr?"
                      id="search"
                    ></b-form-input>
                  </b-form-group>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col md="3" sm="12" class="my-3 mx-auto ml-auto">
              <b-button type="submit" class="bg-black" block>Buscar</b-button>
            </b-col>
            <b-col class="my-2" sm="12">
              <div role="tablist">
                <b-card no-body>
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div
                      class="d-flex justify-content-between align-items-center p-3"
                      block
                      v-b-toggle.sugerencias
                    >
                      <div class="font-bebas h4 m-0">Sugerencias de Ritual</div>
                      <div>
                        <b-icon
                          icon="x-circle-fill"
                          class="h3 m-0 font-weight-bold"
                          rotate="45"
                        ></b-icon>
                      </div>
                    </div>
                  </b-card-header>
                  <b-collapse id="sugerencias" role="tabpanel">
                    <b-card-body>
                      <b-card-text>
                        <div
                          :key="index + Math.random()"
                          v-for="(item, index) in sugerencias"
                        >
                          <comp-ritual :ritual="item"></comp-ritual>
                        </div>
                      </b-card-text>
                    </b-card-body>
                  </b-collapse>
                </b-card>
              </div>
            </b-col>
            <b-col class="my-2" sm="12">
              <div role="tablist">
                <b-card no-body>
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div
                      class="d-flex justify-content-between align-items-center p-3"
                      block
                      v-b-toggle.armalo
                    >
                      <div class="font-bebas h4 m-0">Ármalo tú mismo</div>
                      <div>
                        <b-icon
                          icon="x-circle-fill"
                          class="h3 m-0 font-weight-bold"
                          rotate="45"
                        ></b-icon>
                      </div>
                    </div>
                  </b-card-header>
                  <b-collapse
                    id="armalo"
                    accordion="my-accordion"
                    role="tabpanel"
                  >
                    <b-card-body>
                      <p class="font-bebas h5 font-weight-bold text-center">
                        En construccion
                      </p>
                      <div v-if="false">
                        <p class="font-bebas h5 font-weight-bold">
                          Capacidad Mental:
                        </p>
                        <swiper :options="swiperOptions" ref="mySwiper">
                          <swiper-slide
                            :key="index"
                            v-for="(item, index) in mental"
                          >
                            <img
                              :src="
                                'https://virtualteamroutine.cf' + item.miniatura
                              "
                              class="img-thumbnail p-0"
                            />
                          </swiper-slide>
                        </swiper>
                        <p class="font-bebas h5 font-weight-bold">
                          Capacidad Física:
                        </p>
                        <swiper :options="swiperOptions" ref="mySwiper">
                          <swiper-slide
                            :key="index"
                            v-for="(item, index) in fisica"
                          >
                            <img
                              :src="
                                'https://virtualteamroutine.cf' + item.miniatura
                              "
                              class="img-thumbnail p-0"
                            />
                          </swiper-slide>
                        </swiper>
                        <p class="font-bebas h5 font-weight-bold">
                          Capacidad Espiritual:
                        </p>
                        <swiper :options="swiperOptions" ref="mySwiper">
                          <swiper-slide
                            :key="index"
                            v-for="(item, index) in espiritual"
                          >
                            <img
                              :src="
                                'https://virtualteamroutine.cf' + item.miniatura
                              "
                              class="img-thumbnail p-0"
                            />
                          </swiper-slide>
                        </swiper>
                        <p class="font-bebas h5 font-weight-bold">
                          Capacidad Emocional:
                        </p>
                        <swiper :options="swiperOptions" ref="mySwiper">
                          <swiper-slide
                            :key="index"
                            v-for="(item, index) in emocional"
                          >
                            <img
                              :src="
                                'https://virtualteamroutine.cf' + item.miniatura
                              "
                              class="img-thumbnail p-0"
                            />
                          </swiper-slide>
                        </swiper>
                      </div>
                    </b-card-body>
                  </b-collapse>
                </b-card>
              </div>
            </b-col>
          </b-row>
        </b-container>
      </div>
    </b-form>
  </div>
</template>

<script>
import RitualCarousel from "../components/RitualCarousel.vue";
import Loading from "./../components/Loading,.vue";
export default {
  name: "CrearPerfil",
  components: {
    "comp-ritual": RitualCarousel,
    Loading,
  },
  created() {
    fetch("https://virtualteamroutine.cf/api/obtener_clips", {
      method: "GET",
      headers: {
        "x-access-token": localStorage.getItem("token"),
      },
    })
      .then((data) => data.json())
      .then((data) => {
        const getRandom = (arr) => {
          const random = Math.floor(Math.random() * arr.length);
          return arr[random];
        };
        this.isLoading = false;
        this.espiritual = [...data["espiritual"]];
        this.fisica = [...data["fisica"]];
        this.emocional = [...data["emocional"]];
        this.mental = [...data["mental"]];
        for (let i = 0; i < 5; i++) {
          this.sugerencias.push([
            getRandom(this.espiritual),
            getRandom(this.fisica),
            getRandom(this.emocional),
            getRandom(this.mental),
          ]);
        }
      });
  },

  data() {
    return {
      status: "not_accepted",
      slide: 0,
      sliding: null,
      sugerencias: [],
      espiritual: null,
      mental: null,
      fisica: null,
      emocional: null,
      isLoading: false,
      swiperOptions: {
        loop: true,
        slidesPerView: 3,
      },
    };
  },
};
</script>

<style lang="scss" scoped>
.card-header {
  line-height: 25px;
  width: 100%;
  height: 100%;
}
p,
.collapsed,
.card-header,
.card,
.not-collapsed {
  overflow-x: hidden;
  &:focus {
    outline: none !important;
  }
}

.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}
.custom-input {
  input {
    display: block;
    width: 100%;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
