<template>
  <div class="administrador-container position-relative pb-5">
    <b-form>
      <b-container>
        <b-row class="mx-auto">
          <b-col sm="12" class="text-left my-3">
            <h1 class="custom-size font-bebas letter-1">¡Hola,Carlos!</h1>
          </b-col>
          <b-col class="mx-auto mb-sm-0 mb-md-5" sm="12">
            <b-card class="py-2">
              <h2 class="font-bebas text-uppercase font-weight-bolder">Creación de ritual</h2>

              <b-card-body class="font-weight-bold">
                <b-form-group
                  id="fieldset-horizontal"
                  label-cols-sm="12"
                  label-cols-lg="5"
                  label="¿Dónde desea guardar su ritual?:"
                  label-for="where"
                >
                  <b-form-select id="where" v-model="whereSelect" :options="where"></b-form-select>
                </b-form-group>
                <b-form-group
                  id="fieldset-horizontal"
                  label-cols-sm="12"
                  label-cols-lg="5"
                  label="Tipo de formato:"
                  label-for="format"
                >
                  <b-form-select id="format" v-model="whereFormat" :options="format"></b-form-select>
                </b-form-group>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col sm="12" class="my-5 mx-auto" md="4">
            <b-button class="bg-black text-decoration-none" type="submit" block>Guardar</b-button>
          </b-col>
        </b-row>
      </b-container>
    </b-form>
  </div>
</template>

<script>
export default {
  name: "GuardarRitual",
  components: {},
  data() {
    return {
      whereSelect: null,
      whereFormat: null,
      where: [
        { value: "null", text: "Este dispositivo" },
        { value: "a", text: "En la nube" },
      ],
      format: [
        { value: "null", text: "MP4" },
        { value: "a", text: "AVI" },
      ],
    };
  },
  methods: {
    previewFiles(event) {
      console.log(event.target.files);
    },
  },
};
</script>



<style lang="scss" scoped>
.administrador-container {
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(254, 190, 32);
  background-image: linear-gradient(
    135deg,
    rgba(254, 190, 32, 1),
    rgba(255, 97, 32, 1),
    rgba(255, 43, 65, 1),
    rgba(255, 32, 221, 1)
  );
  background-position: center;
  background-size: cover;
}
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}
.custom-input {
  input {
    display: block;
    width: 100%;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: 500;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
p {
  font-weight: 700;
}
img {
  width: 480px;
}
</style>