<template>
  <div>
    <Loading v-if="isLoading"></Loading>
    <div class="administrador-container position-relative pb-5">
      <b-container>
        <b-row class="mx-auto">
          <b-col class="mx-auto" sm="12">
            <b-card class="p-3">
              <b-card-body class="p-0">
                <h2 class="font-bebas font-weight-bold">
                  Histórico de rituales
                </h2>
                <HistoricoCarousel
                  :key="index"
                  v-for="(item, index) in videos"
                  :item="item"
                ></HistoricoCarousel>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>
<script>
import HistoricoCarousel from "@/components/HistoricoCarousel.vue";
import Loading from "./../components/Loading,.vue";
export default {
  name: "Historico",
  components: {
    HistoricoCarousel,
    Loading,
  },
  created() {
    fetch("https://virtualteamroutine.cf/api/listar_rituales", {
      method: "GET",
      headers: {
        "x-access-token": localStorage.getItem("token"),
      },
    })
      .then((data) => data.json())
      .then((data) => {
        data = data["listaRituales"];
        for (let i of data) {
          this.videos.push(i["clips"]);
        }
        this.isLoading = false;
      })
      .catch(console.log);
  },
  data() {
    return {
      isLoading: false,
      videos: [],
    };
  },
};
</script>

<style lang="scss" scoped>
.card-header {
  line-height: 25px;
  width: 100%;
  height: 100%;
}
p,
.collapsed,
.card-header,
.card,
.not-collapsed {
  overflow-x: hidden;
  &:focus {
    outline: none !important;
  }
}
.administrador-container {
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(254, 190, 32);
  background-image: linear-gradient(
    135deg,
    rgba(254, 190, 32, 1),
    rgba(255, 97, 32, 1),
    rgba(255, 43, 65, 1),
    rgba(255, 32, 221, 1)
  );
  background-position: center;
  background-size: cover;
}
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}
.custom-input {
  input {
    display: block;
    width: 100%;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
