<template>
  <div class="container py-3">
    <FormLogin></FormLogin>
  </div>
</template>

<script>
// @ is an alias to /src
import FormLogin from "@/components/FormLogin.vue";

export default {
  name: "Home",
  components: { FormLogin },
};
</script>
