<template>
  <div class="administrador-container position-relative pb-5">
    <b-container>
      <b-form @submit="enviar">
        <b-row class="mx-auto">
          <b-col class="mx-auto" sm="12">
            <b-card>
              <b-card-body class="py-0 font-weight-bold">
                <h2 class="font-bebas text-uppercase font-weight-bolder">Ingresa tu solicitud</h2>
                <b-row>
                  <b-col md="6" sm="12">
                    <b-form-group
                      id="fieldset-horizontal"
                      label-cols-sm="12"
                      label-cols-lg="5"
                      label="Tema principal:"
                      label-for="tema"
                    >
                      <b-form-input
                        v-model="tema_principal"
                        required
                        type="text"
                        placeholder
                        id="tema"
                      ></b-form-input>
                    </b-form-group>
                    <!-- <b-form-group
                      id="fieldset-horizontal"
                      label-cols-sm="12"
                      label-cols-lg="5"
                      label="Ritual:"
                      label-for="tema"
                    >
                      <b-form-input required type="text" placeholder id="Ritual"></b-form-input>
                    </b-form-group>-->
                    <b-form-group
                      id="fieldset-horizontal"
                      label-cols-sm="12"
                      label-cols-lg="5"
                      label="Tipo de presentacion:"
                      label-for="tipo"
                    >
                      <b-form-input
                        v-model="tipo_presentacion"
                        required
                        type="text"
                        placeholder
                        id="tipo"
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      id="fieldset-horizontal"
                      label-cols-sm="12"
                      label-cols-lg="5"
                      label="Avatar:"
                      label-for="Avatar"
                    >
                      <b-form-input required type="text" placeholder id="Avatar"></b-form-input>
                    </b-form-group>
                    <b-form-group
                      id="fieldset-horizontal"
                      label-cols-sm="12"
                      label-cols-lg="5"
                      label="Servicio Express:"
                      label-for="Servicio"
                    >
                      <!-- <b-form-input
                        v-model="express"
                        required
                        type="text"
                        placeholder
                        id="Servicio"
                      ></b-form-input>-->
                      <b-form-checkbox v-model="express" size="lg" name="check-button" switch></b-form-checkbox>
                    </b-form-group>
                  </b-col>
                  <b-col md="6" sm="12">
                    <b-form-group
                      id="fieldset-horizontal"
                      label-cols-sm="12"
                      label-cols-lg="5"
                      label="Speech:"
                      label-for="Speech"
                    >
                      <!-- <b-form-input v-model="speech" required type="text" placeholder id="Speech"></b-form-input> -->
                      <b-form-select v-model="speech" required :options="options" id="Speech"></b-form-select>
                    </b-form-group>
                    <b-form-group
                      id="fieldset-horizontal"
                      label-cols-sm="12"
                      label-cols-lg="5"
                      label="Texto:"
                      label-for="Texto"
                    >
                      <b-form-input v-model="texto" required type="text" placeholder id="Texto"></b-form-input>
                    </b-form-group>
                    <b-form-group
                      id="fieldset-horizontal"
                      label-cols-sm="12"
                      label-cols-lg="5"
                      label="Comentarios:"
                      label-for="Comentarios"
                    >
                      <b-form-input
                        v-model="comentarios"
                        required
                        type="text"
                        placeholder
                        id="Comentarios"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col sm="12" class="h6 text-white flex-row-center my-4">
            <b-form-checkbox
              id="checkbox-1"
              v-model="status"
              name="checkbox-1"
              value="accepted"
              unchecked-value="not_accepted"
              required
            >Acepto los términos y condiciones de Madison por mi solicitud.Cualquier modificación durante el proceso tendrá un costo adicional.</b-form-checkbox>
          </b-col>
          <b-col sm="12" md="4" class="h6 text-white flex-row-center mx-auto mb-4">
            <b-button type="submit" class="bg-black text-decoration-none" block>Enviar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "IngresarSolicitud",
  components: {},

  data() {
    return {
      status: "not_accepted",
      tema_principal: "",
      tipo_presentacion: "",
      comentarios: "",
      speech: "crear",
      texto: "",
      express: false,
      options: [
        { value: "tengo", text: "Tengo un Speech" },
        { value: "crear", text: "No tengo un Speech" },
      ],
    };
  },
  methods: {
    enviar(event) {
      event.preventDefault();
      const body = JSON.stringify({
        tema_principal: this.tema_principal,
        tipo_presentacion: this.tipo_presentacion,
        comentarios: this.comentarios,
        speech: this.speech,
        texto: this.texto,
        express: this.express,
      });

      fetch("https://virtualteamroutine.cf/api/ingresar_solicitud", {
        method: "POST",
        body,
        headers: {
          "x-access-token": localStorage.getItem("token"),
        },
      })
        .then((response) => response.json())
        .then((data) => {
          localStorage.setItem("solicitud", data["id_solicitud"]);
          this.$router.push("/solicitar-video/success");
        })
        .catch((error) => console.log("error", error));
    },
  },
};
</script>



<style lang="scss" scoped>
.administrador-container {
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(254, 190, 32);
  background-image: linear-gradient(
    135deg,
    rgba(254, 190, 32, 1),
    rgba(255, 97, 32, 1),
    rgba(255, 43, 65, 1),
    rgba(255, 32, 221, 1)
  );
  background-position: center;
  background-size: cover;
}
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}
.h6 {
  font-size: 1rem;
}
.custom-input {
  input {
    display: block;
    width: 100%;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: 500;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
p {
  font-weight: 600;
}
</style>