<template>
  <div class="administrador-container position-relative">
    <b-container>
      <b-row class="mx-auto">
        <b-col sm="12" class="text-left my-3">
          <h1 class="custom-size font-bebas">¡Hola, Carlos!</h1>
        </b-col>
        <b-col sm="12" class="text-left">
          <strong class="h3 font-gotham font-weight-bold text-white">Conoce VTR y su objetivo:</strong>
        </b-col>
        <b-col class="mx-auto my-5" sm="12">
          <b-row>
            <b-col sm="12" md="10" class="my-2 mx-auto">
              <b-embed
                type="iframe"
                aspect="16by9"
                src="https://www.youtube.com/embed/RXcChS3AhW4"
                allowfullscreen
              ></b-embed>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "objetivo",
  components: {},

  data: function () {
    return {};
  },
};
</script>


<style lang="scss" scoped>
.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
p {
  margin: 1rem 0;
  text-align: center !important;
  color: white !important;
  letter-spacing: 0.05rem !important;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
</style>