<template>
  <div
    class="administrador-container d-flex justify-content-center align-items-center position-relative"
  >
    <b-container>
      <b-row class="mx-auto my-auto">
        <b-col sm="12" class="text-left my-3">
          <h1
            class="custom-size text-center font-bebas"
          >¡Los cambios en tu perfil de administrador se llevaron acabo con éxito¡</h1>
          <h2
            class="text-white display-5 my-sm-2 my-md-5 text-center font-bebas"
          >Delegaste tu rol de Administrador a: NOMBRE, recuerda que durante el periodo del INICIO, al FIN,tus accesos estarán inhabilitados.</h2>
        </b-col>
        <b-col md="4" sm="12" class="my-3 mx-auto">
          <b-button
            class="bg-black text-white text-decoration-none"
            to="/vista-administrador"
            block
          >Menu Principal</b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "PerfilSuccess",
  components: {},

  data: function () {
    return {};
  },
};
</script>


<style lang="scss" scoped>
.administrador-container {
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: rgb(254, 190, 32);
  background-image: linear-gradient(
    135deg,
    rgba(254, 190, 32, 1),
    rgba(255, 97, 32, 1),
    rgba(255, 43, 65, 1),
    rgba(255, 32, 221, 1)
  );
  background-position: center;
  background-size: cover;
}
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
</style>