<template>
  <div>
    <Loading v-if="loading"></Loading>
    <div class="administrador-container position-relative">
      <b-container>
        <b-row class="mx-auto">
          <b-col class="mx-auto" sm="12">
            <b-card>
              <b-card-body class="font-weight-bold">
                <h2 class="font-bebas text-uppercase font-weight-bolder">
                  Mi perfil
                </h2>
                <b-form>
                  <b-form-group
                    id="fieldset-horizontal"
                    label-cols-sm="12"
                    label-cols-lg="5"
                    label="Nombre Administrador de la cuenta:"
                    label-for="username"
                  >
                    <b-form-input
                      v-model="user.nombre"
                      autofocus
                      required
                      type="text"
                      placeholder
                      id="username"
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    id="fieldset-horizontal"
                    label-cols-sm="12"
                    label-cols-lg="5"
                    label="Correo electrónico registrado:"
                    label-for="email"
                  >
                    <b-form-input
                      v-model="user.email"
                      required
                      type="email"
                      placeholder
                      id="email"
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    id="fieldset-horizontal"
                    label-cols-sm="12"
                    label-cols-lg="5"
                    label="Cargo de la compañia:"
                    label-for="Cargo"
                  >
                    <b-form-input
                      v-model="user.area"
                      required
                      type="text"
                      placeholder
                      id="Cargo"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    id="fieldset-horizontal"
                    label-cols-sm="10"
                    label-cols-lg="5"
                    label="Desea delegar su rol de aministrador:"
                    label-for="delegar"
                  >
                    <b-form-checkbox
                      id="delegar"
                      v-model="status"
                      name="delegar"
                      value="accepted"
                      size="lg"
                      class="custom-input"
                      unchecked-value="not_accepted"
                    ></b-form-checkbox>
                  </b-form-group>
                  <b-form-group
                    id="fieldset-horizontal"
                    label-cols-sm="10"
                    label-cols-lg="5"
                    label="Desea delegar su rol de aministrador:"
                    label-for="delegar2"
                  >
                    <b-form-checkbox
                      id="delegar2"
                      size="lg"
                      v-model="checked"
                      name="check-button"
                      switch
                    ></b-form-checkbox>
                  </b-form-group>
                  <transition name="fade">
                    <div v-if="status == 'accepted' || checked">
                      <b-form-group
                        id="fieldset-horizontal"
                        label-cols-sm="12"
                        label-cols-lg="5"
                        label="Nombre completo administrador provisional:"
                        label-for="nombre-provicional"
                      >
                        <b-form-input
                          required
                          type="text"
                          placeholder
                          id="nombre-provicional"
                        ></b-form-input>
                      </b-form-group>
                      <b-form-group
                        id="fieldset-horizontal"
                        label-cols-sm="12"
                        label-cols-lg="5"
                        label="Correo electrónico de administrador provisional:"
                        label-for="email-provicional"
                      >
                        <b-form-input
                          required
                          type="email"
                          placeholder
                          id="email-provicional"
                        ></b-form-input>
                      </b-form-group>
                      <b-form-group
                        id="fieldset-horizontal"
                        label-cols-sm="12"
                        label-cols-lg="5"
                        label="Fecha de inicio y fin de permisos temporales:"
                        label-for="fecha"
                      >
                        <b-row>
                          <b-col sm="12" md="2" class="text-left my-3 my-md-2"
                            >Inicio:</b-col
                          >
                          <b-col sm="12" md="4">
                            <b-form-input
                              required
                              type="date"
                              placeholder
                              id="fin"
                            ></b-form-input>
                          </b-col>
                          <b-col sm="12" md="2" class="text-left my-3 my-md-2"
                            >Fin:</b-col
                          >
                          <b-col sm="12" md="4">
                            <b-form-input
                              required
                              type="date"
                              placeholder
                              id="inicio"
                            ></b-form-input>
                          </b-col>
                        </b-row>
                      </b-form-group>
                    </div>
                  </transition>
                </b-form>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col md="4" sm="12" class="my-3 ml-auto">
            <b-button type="submit" class="bg-black" block>Guardar</b-button>
          </b-col>
          <b-col md="4" sm="12" class="my-3 mr-auto">
            <b-button
              class="bg-black text-decoration-none"
              to="vista-administrador"
              block
              >Menu Principal</b-button
            >
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
import Loading from "./../components/Loading,.vue";
export default {
  name: "Perfil",
  components: { Loading },
  created() {
    this.loading = false;
    fetch("https://virtualteamroutine.cf/api/obtener_perfil", {
      method: "GET",
      headers: {
        "x-access-token": localStorage.getItem("token"),
      },
    })
      .then((data) => data.json())
      .then((data) => {
        this.user.nombre = data["nombreUsuario"];
        this.loading = false;
      })
      .catch((error) => {
        console.log(error);
        localStorage.removeItem("token");
        // this.loading = false;
        // this.$router.push("/bienvenida");
      });
  },
  data() {
    return {
      user: {
        nombre: "",
        email: "",
        area: "",
      },
      loading: true,
      checked: false,
      status: "not_accepted",
    };
  },
};
</script>

<style lang="scss" scoped>
.administrador-container {
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(254, 190, 32);
  background-image: linear-gradient(
    135deg,
    rgba(254, 190, 32, 1),
    rgba(255, 97, 32, 1),
    rgba(255, 43, 65, 1),
    rgba(255, 32, 221, 1)
  );
  background-position: center;
  background-size: cover;
}
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}
.custom-input {
  input {
    display: block;
    width: 100%;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
