<template>
  <div
    class="administrador-container d-flex justify-content-center align-items-center position-relative"
  >
    <b-container>
      <b-row class="mx-auto my-auto">
        <b-col sm="12" class="text-left">
          <h1
            class="custom-size text-center font-bebas"
          >¡Felicidades,acabas de adquirir el plan básico mensual para tu plan vtr¡</h1>
        </b-col>
        <b-col md="9" class="mx-auto" sm="12">
          <h4
            class="text-white text-center font-bebas"
          >Recuerda que algunas funcionalidades no estarán disponibles en este plan contratado.En breve nos comunicaremos contigo y también recibirás un correo electrónico con el detalle de los beneficios contratados,costos y términos y condiciones.</h4>
        </b-col>
        <b-col md="4" sm="12" class="mt-md-5 mx-auto">
          <b-button
            class="bg-black text-white text-decoration-none"
            to="/vista-administrador"
            block
          >Menu Principal</b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "PlanDowngrade",
  components: {},

  data: function () {
    return {};
  },
};
</script>


<style lang="scss" >
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
</style>