<template>
  <div>
    <Loading v-if="loading"></Loading>
    <div class="administrador-container position-relative">
      <b-container>
        <b-row class="mx-auto">
          <b-col sm="12" class="text-left">
            <h1 class="custom-size font-bebas letter-1">¡Hola,Carlos!</h1>
          </b-col>
          <b-col sm="12" class="text-left">
            <strong class="h4 font-gotham font-weight-bold text-white"
              >Tu plan contratado es: BÁSICO MENSUAL.</strong
            >
            <br />
            <strong class="h4 font-gotham font-weight-bold text-white"
              >Puedes migrar a un plan con más beneficios:</strong
            >
          </b-col>
          <b-col sm="12">
            <b-row></b-row>
          </b-col>
          <b-col
            md="6"
            class="mt-5 mb-2 d-flex flex-column justify-content-around align-items-center position-relative"
            sm="12"
          >
            <b-card class="p-4" title="Medium mensual">
              <b-card-text>
                <strong>Dos rituales mensuales, que constan de:</strong>
                <ul class="pl-4 my-3">
                  <li>
                    3 bloques predeterminados diseñados por la coach
                    especialista,alineados al mensaje a abordar en el bloque
                    personalizado.
                  </li>
                  <li>
                    <strong>Bloque personalizado:</strong> El cliente puede
                    elegir entra grabación de video del líder o animación 3D.
                  </li>
                </ul>
                <div class="text-center">Costo. S/30 mensual (incluye IGV)</div>
              </b-card-text>
            </b-card>
            <b-button
              class="bg-black px-4 custom-button my-4 text-decoration-none"
              @click="cambiarPlan('medium')"
              >Lo quiero</b-button
            >
          </b-col>
          <b-col
            md="6"
            class="mt-5 mb-2 d-flex flex-column justify-content-around align-items-center position-relative"
            sm="12"
          >
            <b-card class="p-4" title="Full mensual">
              <b-card-text>
                <strong>Dos rituales mensuales, que constan de:</strong>
                <ul class="pl-4 my-3">
                  <li>
                    3 bloques predeterminados diseñados por la coach
                    especialista,alineados al mensaje a abordar en el bloque
                    personalizado.
                  </li>
                  <li>
                    <strong>Bloque personalizado:</strong> Co creación conjunta
                    de mensajes claves y generación de guión. Formate a elegir
                    (grabación o animación 3D)
                  </li>
                </ul>
                <div class="text-center">Costo. S/30 mensual (incluye IGV)</div>
              </b-card-text>
            </b-card>
            <b-button
              @click="cambiarPlan('full')"
              class="bg-black px-4 custom-button my-4 text-decoration-none"
              >Lo quiero</b-button
            >
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
import Loading from "./../components/Loading,.vue";
export default {
  name: "Planes",
  components: { Loading },

  data() {
    return {
      status: "not_accepted",
      loading: false,
    };
  },
  methods: {
    cambiarPlan(plan) {
      this.$swal
        .fire({
          text: "¿Estás seguro de cambiar tu plan actual de comunicación VTR?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          cancelButtonText: "NO",
          confirmButtonText: "SI",
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.loading = true;
            const url =
              "https://virtualteamroutine.cf/api/cambiar_plan/" + plan;
            fetch(url, {
              headers: {
                "x-access-token": localStorage.getItem("token"),
              },
            })
              .then((data) => data.json())
              .then(() => {
                this.loading = false;
                if (plan == "full") {
                  this.$router.push("/Plan/upgrade");
                } else {
                  this.$router.push("/Plan/downgrade");
                }
              })
              .catch((error) => {
                console.log(error);
                this.loading = false;
                if (plan == "full") {
                  this.$router.push("/Plan/upgrade");
                } else {
                  this.$router.push("/Plan/downgrade");
                }
                // localStorage.removeItem("token");
                // this.$router.push("/bienvenido");
              });
          }
        });
    },
  },
};
</script>


<style lang="scss" scoped>
.card {
  min-height: 370px;
}
.card-title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: BebasNeue;
}
li {
  margin: 0.75rem 0;
}
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}

.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65% !important;
  @media (max-width: 720px) {
    width: 100% !important;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>