<template>
  <div>
    <div class="administrador-container position-relative">
      <b-form @submit="onSubmit">
        <b-container>
          <b-row class="mx-auto">
            <b-col class="mx-auto mb-sm-0 mb-md-3" sm="12">
              <b-card class="py-2">
                <b-card-body class="font-weight-bold">
                  <h2 class="m-0 p-0 font-bebas text-uppercase font-weight-bolder">Programar Ritual</h2>
                  <b-row>
                    <b-col sm="12" md="2" class="text-left my-3">Inicio:</b-col>
                    <b-col sm="12" md="4" class="my-3">
                      <b-form-input
                        v-model="form.inicio"
                        required
                        type="date"
                        placeholder
                        @change="dateValidate"
                        id="inicio"
                      ></b-form-input>
                    </b-col>
                    <b-col sm="12" md="2" class="text-left my-3">Hora envio correo:</b-col>
                    <b-col sm="12" md="4" class="my-3">
                      <b-form-input
                        v-model="form.correo"
                        required
                        type="time"
                        @change="dateValidate"
                        placeholder
                        id="correo"
                      ></b-form-input>
                    </b-col>
                    <b-col sm="12" md="2" class="text-left my-3">Fin:</b-col>
                    <b-col sm="12" md="4" class="my-3">
                      <b-form-input
                        :min="form.inicio"
                        v-model="form.fin"
                        required
                        type="date"
                        placeholder
                        :disabled="form.inicio==null"
                        id="fin"
                      ></b-form-input>
                    </b-col>
                    <b-col sm="12" md="2" class="text-left my-3">Hora inicio ritual:</b-col>
                    <b-col sm="12" md="4" class="my-3">
                      <b-form-input
                        v-model="form.ritual"
                        required
                        type="time"
                        placeholder
                        id="ritual"
                      ></b-form-input>
                    </b-col>
                    <b-col sm="12" md="2" class="text-left my-3">Dirigiado a:</b-col>
                    <b-col sm="12" md="4" class="my-3">
                      <b-form-select
                        id="target"
                        v-model="form.whereTarget"
                        required
                        :options="target"
                      ></b-form-select>
                    </b-col>
                    <b-col sm="12" md="2" class="text-left my-3">ID del ritual:</b-col>
                    <b-col sm="12" md="4" class="my-3">
                      <b-form-input id="target" v-model="id_ritual" readonly></b-form-input>
                    </b-col>
                  </b-row>
                </b-card-body>
                <!-- <p>{{form }}</p> -->
              </b-card>
            </b-col>
            <b-col sm="12" class="mx-auto" md="4">
              <b-button class="bg-black text-decoration-none" type="submit" block>Guardar</b-button>
            </b-col>
          </b-row>
        </b-container>
      </b-form>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProgramarRitual",
  components: {},

  created() {
    this.id_ritual = localStorage.getItem("id_ritual");
    fetch("https://virtualteamroutine.cf/api/obtener_areas", {
      method: "GET",
      headers: { "x-access-token": localStorage.getItem("token") },
    })
      .then((data) => data.json())
      .then((data) => {
        for (let i in data["listaAreas"]) {
          this.target.push({
            value: data["listaAreas"][i]["id"],
            text: data["listaAreas"][i]["nombreArea"],
          });
        }
        this.form.whereTarget = this.target[0]["value"];
      });
  },
  data() {
    return {
      form: {
        inicio: null,
        fin: null,
        correo: null,
        ritual: null,
        whereTarget: null,
      },
      id_ritual: "",
      target: [],
    };
  },
  methods: {
    dateValidate() {
      const fin = new Date(this.form.fin);
      const inicio = new Date(this.form.inicio);
      if (fin < inicio) {
        this.form.fin = this.form.inicio;
      }
    },
    onSubmit(evt) {
      evt.preventDefault();
      const body = JSON.stringify({
        inicio: this.form.inicio,
        fin: this.form.fin,
        correo: this.form.correo,
        ritual: this.form.ritual,
        id_area: this.form.whereTarget,
      });
      //aca va el ritual
      fetch(
        "https://virtualteamroutine.cf/api/programar_ritual/" +
          localStorage.getItem("id_ritual"),
        {
          method: "POST",
          body,
          headers: { "x-access-token": localStorage.getItem("token") },
        }
      )
        .then((response) => response.json())
        .then((data) => {
          localStorage.setItem("programacion", data["programacion"]);
          this.$router.push("/programar-ritual/success");
        })
        .catch((error) => console.log("error", error));
    },
  },
};
</script>


<style lang="scss" scoped>
.card-header {
  line-height: 25px;
  width: 100%;
  height: 100%;
}
p,
.collapsed,
.card-header,
.card,
.not-collapsed {
  overflow-x: hidden;
  &:focus {
    outline: none !important;
  }
}

.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}
.custom-input {
  input {
    display: block;
    width: 100%;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>