<template>
  <div
    class="administrador-container d-flex justify-content-center align-items-center position-relative"
  >
    <b-container>
      <b-row class="mx-auto my-auto">
        <b-col sm="12" class="text-left mt-3">
          <h1
            class="custom-size text-center font-bebas"
          >¡La programacón del ritual se ha agendado con éxito!</h1>
          <h2
            class="text-white display-5 mb-sm-2 my-4 text-center font-bebas"
          >Hemos enviado a tu correo la descripción de la programación del ritual.</h2>
          <h4
            class="text-white display-5 mb-sm-2 my-4 text-center font-bebas"
          >Su ID de programacion es el siguiente: {{programacion}}</h4>
        </b-col>
        <b-col md="4" sm="12" class="my-md-5 my-sm-2 mx-auto">
          <b-button
            class="bg-black text-white text-decoration-none"
            to="/vista-administrador"
            block
          >Menu Principal</b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "SolicitarVideoSuccess",
  components: {},
  created() {
    if (localStorage.getItem("programacion")) {
      this.programacion = localStorage.getItem("programacion");
    } else {
      this.$router.push("/programar-ritual");
    }
  },
  data() {
    return {
      programacion: 1,
    };
  },
  methods: {},

  destroyed() {
    localStorage.removeItem("programacion");
  },
};
</script>



<style lang="scss" scoped>
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}
.custom-input {
  input {
    display: block;
    width: 100%;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: 500;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
p {
  font-weight: 700;
}
img {
  width: 480px;
}
</style>