<template>
  <div class="bienvenido-container flex-column-center">
    <b-container>
      <b-row class="mx-auto">
        <b-col sm="12" class="text-center my-3">
          <h1 class="custom-size font-bebas">Solicitud de cambio de contraseña</h1>
        </b-col>
        <b-col class="mx-auto" md="5" sm="12">
          <b-card class="py-sm-3">
            <b-card-body class="font-weight-bold">
              <b-form>
                <b-form-group
                  class="mb-4"
                  id="fieldset-horizontal"
                  label-cols-sm="3"
                  label-cols-lg="3"
                  label="Correo:"
                  label-for="email"
                >
                  <b-form-input
                    required
                    type="text"
                    placeholder="Correo electrónico registrado"
                    id="email"
                  ></b-form-input>
                </b-form-group>
                <div class="mt-md-3 text-center form-row form-group">
                  <b-button type="submit" class="custom-button mx-auto" variant="secondary">Enviar</b-button>
                </div>
              </b-form>
            </b-card-body>
            <b-card-text>
              <p
                class="text-center"
              >En breve recibirás un correo con los pasos para resetear tu clave de acceso.</p>
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "RecuperarContrasenia",
  components: {},

  data: function () {
    return {};
  },
};
</script>


<style lang="scss" scoped>
.bienvenido-container {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  background-image: url("../assets/img/IMAGEN-DE-FONDO-V1.jpg");
  background-position: center;
  background-size: cover;
}
.custom-size {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 2rem;
  }
}
.card {
  min-height: auto;
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
p {
  font-weight: 600;
}
</style>