<template>
  <div class="administrador-container position-relative">
    <b-form @submit="onSubmit">
      <b-container>
        <b-row class="mx-auto">
          <b-col class="mx-auto mb-sm-0" sm="12">
            <b-card class="py-2">
              <b-card-body class="font-weight-bold py-0">
                <h2 class="m-0 p-0 font-bebas text-uppercase font-weight-bolder">Registrar Cambios</h2>
                <b-row>
                  <b-col sm="12" md="6" lg="2" class="text-left my-3">Nro.requerimiento</b-col>
                  <b-col sm="12" md="6" lg="4" class="my-3">
                    <b-form-input v-model="form.nro" required type="text" placeholder id="inicio"></b-form-input>
                  </b-col>
                  <b-col sm="12" md="6" lg="2" class="text-left my-3">Texto</b-col>
                  <b-col sm="12" md="6" lg="4" class="my-3">
                    <b-form-input v-model="form.texto" required type="text" placeholder id="inicio"></b-form-input>
                  </b-col>
                  <b-col sm="12" md="6" lg="2" class="text-left my-3">Tipo Presentacion</b-col>
                  <b-col sm="12" md="6" lg="4" class="my-3">
                    <b-form-input
                      v-model="form.presentacion"
                      required
                      type="text"
                      placeholder
                      id="inicio"
                    ></b-form-input>
                  </b-col>
                  <b-col sm="12" md="6" lg="2" class="text-left my-3">Comentarios</b-col>
                  <b-col sm="12" md="6" lg="4" class="my-3">
                    <b-form-input
                      v-model="form.comentarios"
                      required
                      type="text"
                      placeholder
                      id="inicio"
                    ></b-form-input>
                  </b-col>
                  <b-col sm="12" md="6" lg="2" class="text-left my-3">Avatar</b-col>
                  <b-col sm="12" md="6" lg="4" class="my-3">
                    <b-form-input
                      v-model="form.avatar"
                      required
                      type="text"
                      placeholder
                      id="inicio"
                    ></b-form-input>
                  </b-col>
                  <b-col sm="12" md="6" lg="2" class="text-left my-3">Servicio Express</b-col>
                  <b-col sm="12" md="6" lg="4" class="my-3">
                    <b-form-checkbox v-model="form.express" size="lg" name="check-button" switch></b-form-checkbox>
                  </b-col>
                  <b-col sm="12" md="6" lg="2" class="text-left my-3">Speech</b-col>
                  <b-col sm="12" md="6" lg="4" class="my-3">
                    <b-form-input
                      v-model="form.speech"
                      required
                      type="text"
                      placeholder
                      id="inicio"
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>

          <b-col sm="12" class="h6 text-white flex-row-center my-4">
            <b-form-checkbox
              id="checkbox-1"
              v-model="form.status"
              name="checkbox-1"
              value="accepted"
              unchecked-value="not_accepted"
              required
            >Acepto los términos y condiciones de Madison, los cambios en mención implicarán un costo adicional al servicio facturado previamente.</b-form-checkbox>
          </b-col>
          <b-col sm="12" class="mx-auto" md="4">
            <b-button class="bg-black text-decoration-none" type="submit" block>Guardar</b-button>
          </b-col>
        </b-row>
      </b-container>
    </b-form>
  </div>
</template>
<script>
export default {
  name: "RegistrarCambios",
  components: {},
  methods: {
    changeTarget() {
      if (this.helper == "a") {
        this.form.whereTarget = this.target[1]["text"];
      } else if (this.helper == "b") {
        this.form.whereTarget = this.target[2]["text"];
      } else if (this.helper == "c") {
        this.form.whereTarget = this.target[3]["text"];
      } else if (this.helper == "d") {
        this.form.whereTarget = this.target[4]["text"];
      } else if (this.helper == "e") {
        this.form.whereTarget = this.target[5]["text"];
      } else if (this.helper == "f") {
        this.form.whereTarget = this.target[6]["text"];
      } else {
        this.form.whereTarget = this.target[0]["text"];
      }
    },
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.form));
      this.$router.push("/programar-ritual/success");
    },
  },
  created() {
    this.form.whereTarget = this.target[0]["text"];
  },
  data() {
    return {
      form: {
        nro: null,
        texto: null,
        presentacion: null,
        comentarios: null,
        avatar: null,
        express: null,
        speech: null,
        status: null,
      },
      helper: null,
      target: [
        { value: "null", text: "Toda la organización" },
        { value: "a", text: "Recursos Humanos" },
        { value: "b", text: "Operaciones Comerciales" },
        { value: "c", text: "Tecnología" },
        { value: "d", text: "Finanzas" },
        { value: "e", text: "Contabilidad" },
        { value: "f", text: "Ventas" },
      ],
    };
  },
};
</script>


<style lang="scss" scoped>
.card-header {
  line-height: 25px;
  width: 100%;
  height: 100%;
}
p,
.collapsed,
.card-header,
.card,
.not-collapsed {
  overflow-x: hidden;
  &:focus {
    outline: none !important;
  }
}
.administrador-container {
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: rgb(254, 190, 32);
  background-image: linear-gradient(
    135deg,
    rgba(254, 190, 32, 1),
    rgba(255, 97, 32, 1),
    rgba(255, 43, 65, 1),
    rgba(255, 32, 221, 1)
  );
  background-position: center;
  background-size: cover;
}
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}
.custom-input {
  input {
    display: block;
    width: 100%;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>