<template>
  <b-container class="my-5">
    <b-row>
      <b-col sm="12" md="8">
        <h3>Bienvenido Mad al portal de administracion del VTR</h3>
        <p>
          Aquí podras realizar los cambios de diversas opciones de la platafoma,
          de acuerdo a las necesidades que tengas como organización.
        </p>
      </b-col>
      <b-col sm="12" md="4">
        <b-img
          src="https://picsum.photos/300/150/?image=41"
          class="h-100"
          fluid-grow
          alt="Fluid-grow image"
        ></b-img>
      </b-col>
      <b-col sm="12" class="my-3">
        <b-row>
          <b-col sm="12" md="4">
            <b-button block variant="primary">Crear Ritual</b-button>
          </b-col>
          <b-col sm="12" md="4">
            <b-button block variant="primary">Crear Ritual</b-button>
          </b-col>
          <b-col sm="12" md="4">
            <b-button block variant="primary">Crear Ritual</b-button>
          </b-col>
        </b-row>
      </b-col>
      <b-col sm="12">
        <ritual-carousel></ritual-carousel>
      </b-col>
      <b-col sm="12" class="my-3">
        <b-row>
          <b-col sm="12" md="6">
            <b-button block variant="primary">Video Tutorial</b-button>
          </b-col>
          <b-col sm="12" md="6">
            <b-button block variant="primary">Historico de Rituales</b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import RitualCarousel from "../components/RitualCarousel.vue";
export default {
  name: "Ritual",
  components: {
    "ritual-carousel": RitualCarousel,
  },
  created() {
    console.log("message");
  },
  methods: {},
};
</script>

<style></style>
