<template>
  <div class="administrador-container position-relative pb-5">
    <b-container>
      <b-row class="mx-auto">
        <b-col class="mx-auto" sm="12" md="10">
          <b-card>
            <b-form>
              <b-card-body class="font-weight-bold">
                <h2 class="font-bebas text-uppercase font-weight-bolder">Solicita tu video</h2>
                <b-row>
                  <b-col sm="12" class="px-0 ml-auto my-2" md="5">
                    <p>Pedir video:</p>
                  </b-col>
                  <b-col sm="12" class="px-0" md="6">
                    <b-button
                      to="/ingresar-solicitud"
                      class="custom-button mx-auto"
                      variant="secondary"
                    >Ingresar Solicitud</b-button>
                  </b-col>
                  <b-col sm="12" class="px-0 ml-auto my-2" md="5">
                    <p>Control de cambios:</p>
                  </b-col>
                  <b-col sm="12" class="px-0" md="6">
                    <b-button
                      to="/registrar-cambios"
                      class="custom-button mx-auto"
                      variant="secondary"
                    >Registrar Cambios</b-button>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-form>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "SolicitarVideo",
  components: {},
  created() {
    const body = JSON.stringify({
      tema_principal: "test",
      tipo_presentacion: "test",
      comentarios: "test",
      speech: "crear",
      texto: "texto",
      express: 1,
    });
    fetch("https://virtualteamroutine.cf/api/ingresar_solicitud", {
      method: "POST",
      body,
      headers: {
        "x-access-token": localStorage.getItem("token"),
      },
    })
      .then((value) => {
        console.log(value);
      })
      .catch(console.log);
  },
  data() {
    return { video: null };
  },
};
</script>



<style lang="scss" scoped>
.administrador-container {
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(254, 190, 32);
  background-image: linear-gradient(
    135deg,
    rgba(254, 190, 32, 1),
    rgba(255, 97, 32, 1),
    rgba(255, 43, 65, 1),
    rgba(255, 32, 221, 1)
  );
  background-position: center;
  background-size: cover;
}
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}
.custom-input {
  input {
    display: block;
    width: 100%;
  }
}

.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: 500;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
p {
  font-weight: 600;
}
</style>