<template>
  <div>
    <Loading v-if="isLoading"></Loading>
    <div class="administrador-container position-relative pb-5">
      <b-form @submit="enviar">
        <b-container>
          <b-row class="mx-auto">
            <b-col class="mx-auto" sm="12">
              <b-card class="py-2">
                <h2 class="font-bebas text-uppercase font-weight-bolder">Subir video</h2>

                <b-card-body class="font-weight-bold px-0 py-2">
                  <b-row>
                    <b-col
                      sm="12"
                      class="py-0 d-flex justify-content-center align-content-center flex-column flex-wrap"
                    >
                      <b-form-file
                        class="overflow-hidden my-2"
                        v-model="video"
                        required
                        :state="Boolean(video)"
                        placeholder="Elija un archivo o suéltelo aquí "
                        accept=".mp4, .avi"
                        drop-placeholder="Suéltelo aquí"
                      ></b-form-file>
                      <p>
                        Recomendaciones:
                        <br />El video de tener una calidad minima en HD (1280 x 720 píxeles),con buena calidad de audio, así como en formato AVI o MP4.
                      </p>
                      <p
                        v-if="error"
                        class="text-danger text-center h4"
                      >Ocurrio un error al intentar subir el video.</p>
                    </b-col>
                  </b-row>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col sm="12" md="6" class="mx-auto flex-column-center">
              <b-button
                type="submit"
                block
                @click="load"
                class="bg-black px-4 custom-button my-4 text-decoration-none"
              >Enviar</b-button>
            </b-col>
          </b-row>
        </b-container>
      </b-form>
    </div>
  </div>
</template>

<script>
import Loading from "./../components/Loading,.vue";
export default {
  name: "SubirVideo",
  components: { Loading },
  data() {
    return {
      video: null,
      isLoading: false,
      error: null,
    };
  },
  methods: {
    previewFiles(event) {
      console.log(event.target.files);
    },
    load() {
      if (this.video) {
        this.isLoading = true;
      }
    },
    enviar(event) {
      event.preventDefault();
      const formData = new FormData();
      this.error = false;
      formData.append("mivideo", this.video);
      fetch("https://virtualteamroutine.cf/api/subir_clip", {
        method: "POST",
        body: formData,
        headers: {
          "x-access-token": localStorage.getItem("token"),
        },
      })
        .then((data) => data.json())
        .then(() => {
          this.isLoading = false;
          this.$router.push("/videoSuccess");
        })
        .catch(() => {
          this.isLoading = false;
          this.error = true;
        });
    },
  },
};
</script>



<style lang="scss" scoped>
.administrador-container {
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(254, 190, 32);
  background-image: linear-gradient(
    135deg,
    rgba(254, 190, 32, 1),
    rgba(255, 97, 32, 1),
    rgba(255, 43, 65, 1),
    rgba(255, 32, 221, 1)
  );
  background-position: center;
  background-size: cover;
}
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}
.custom-input {
  input {
    display: block;
    width: 100%;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: 500;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
p {
  font-weight: 700;
}
img {
  width: 480px;
}
</style>