<template>
  <div>{{test}}</div>
</template>

<script>
export default {
  name: "Test",
  async created() {
    const headers = new Headers();
    const basic = "Basic " + window.btoa("admincontoso:test");
    headers.append("Authorization", basic);
    console.log(basic);
    const requestOptions = {
      method: "GET",
      headers,
      credentials: "same-origin",
    };
    const response = await fetch(
      "https://virtualteamroutine.cf/api/netin",
      requestOptions
    );
    const token = await response.json();
    this.$store.commit("setToken", token);
  },
  data() {
    return { test: "" };
  },
};
</script>

<style lang="sass" scoped>

</style>