<template>
  <div
    class="administrador-container d-flex justify-content-center align-items-center position-relative"
  >
    <b-container>
      <b-row class="mx-auto my-auto">
        <b-col sm="12" class="text-left my-3">
          <h1
            class="custom-size text-center font-bebas"
          >¡Tu video se ha subido con éxito a la lista de videoteca¡</h1>
          <h2
            class="text-white display-5 my-sm-2 my-md-5 text-center font-bebas"
          >Ya puede agregarlo a los videos de sus rituales semanales. Se le envió por correo la confirmación de la carga del video con todas las especificaciones incluidas.</h2>
        </b-col>
        <b-col md="4" sm="12" class="my-3 mx-auto">
          <b-button
            class="bg-black text-white text-decoration-none"
            to="/vista-administrador"
            block
          >Menu Principal</b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "VideoSuccess",
  components: {},

  data: function () {
    return {};
  },
};
</script>


<style lang="scss" >
.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
</style>