<template>
  <div class="administrador-container position-relative">
    <b-form @submit="onSubmit">
      <b-container>
        <b-row class="mx-auto">
          <b-col class="mx-auto mb-sm-0 mb-md-3" sm="12">
            <b-card class="py-2">
              <b-card-body class="font-weight-bold">
                <h2 class="p-0 font-bebas text-uppercase font-weight-bolder">
                  Vista previa:
                </h2>
                <swiper class="w-100" :options="swiperOptions" ref="mySwiper">
                  <swiper-slide :key="index" v-for="(item, index) in videos">
                    <img
                      :src="
                        'https://virtualteamroutine.cf/api/ver_miniatura/' +
                          item
                      "
                      class="img-thumbnail p-0"
                    />
                  </swiper-slide>
                </swiper>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col sm="12" class="mx-auto" md="4">
            <b-button
              to="/crear-ritual"
              class="bg-black text-decoration-none"
              type="submit"
              block
              >Regresar</b-button
            >
          </b-col>
          <b-col sm="12" class="mx-auto" md="4">
            <b-button class="bg-black text-decoration-none" type="submit" block
              >Descargar Video</b-button
            >
          </b-col>
          <b-col sm="12" class="mx-auto" md="4">
            <b-button class="bg-black text-decoration-none" type="submit" block
              >Programar ritual</b-button
            >
          </b-col>
        </b-row>
      </b-container>
    </b-form>
  </div>
</template>

<script>
export default {
  name: "VistaPrevia",
  components: {},
  async created() {
    const ritual = localStorage.getItem("ritual").split(",");
    for (let i in ritual) {
      this.videos.push(await ritual[i]);
    }
    this.ritual = { lista_clips: this.videos };
  },
  data() {
    return {
      swiperOptions: {
        loop: true,
        slidesPerView: 4,
      },
      videos: [],
      ritual: null,
    };
  },
  methods: {
    onSubmit(evt) {
      console.log("entra");
      evt.preventDefault();
      const body = JSON.stringify({
        lista_clips: this.videos,
      });
      fetch("https://virtualteamroutine.cf/api/crear_ritual", {
        method: "POST",
        headers: { "x-access-token": localStorage.getItem("token") },
        body,
      })
        .then((response) => response.json())
        .then((data) => {
          localStorage.setItem("id_ritual", data["id_ritual"]);
          this.$router.push("/programar-ritual");
        })
        .catch((error) => console.log("error", error));
    },
  },
};
</script>

<style lang="scss" scoped>
.card-header {
  line-height: 25px;
  width: 100%;
  height: 100%;
}
p,
.collapsed,
.card-header,
.card,
.not-collapsed {
  overflow-x: hidden;
  &:focus {
    outline: none !important;
  }
}

.bg-black {
  background: #000;
  font-weight: bolder;
  border: none;
  &:hover {
    background: #000;
  }
}
.custom-input {
  input {
    display: block;
    width: 100%;
  }
}

.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
