<template>
  <div class="administrador-container position-relative">
    <b-container>
      <b-row class="mx-auto">
        <b-col sm="12" class="text-left">
          <h1 class="custom-size font-bebas">¡Hola, Carlos!</h1>
        </b-col>
        <b-col sm="12" class="text-left">
          <strong class="h4 font-gotham font-weight-bold text-white"
            >Aquí podrás realizar los cambios de diversas opciones de la
            plataforma, de acuerdo a las necesidades que tengas como
            organización.</strong
          >
        </b-col>
        <b-col class="mx-auto mt-3" sm="12">
          <b-row>
            <b-col sm="12" md="4" class="mb-1">
              <div class="position-relative">
                <b-img
                  id="primero"
                  height="480px"
                  src="/img/CREACION-DE-RITUAL.png"
                  fluid
                  alt="Responsive image"
                  class="position-relative"
                ></b-img>
                <div class="text-container font-bebas h1">
                  <b-link to="/crear-ritual">Creación de Ritual</b-link>
                </div>
              </div>
            </b-col>
            <b-col sm="12" md="4" class="mb-1">
              <div class="position-relative">
                <b-img
                  id="segundo"
                  height="480px"
                  src="/img/SUBIR-VIDEO.png"
                  fluid
                  alt="Responsive image"
                ></b-img>
                <div class="text-container font-bebas h1">
                  <b-link to="/subir-video">Subir video</b-link>
                </div>
              </div>
            </b-col>
            <b-col sm="12" md="4" class="mb-1">
              <div class="position-relative">
                <b-img
                  id="tercero"
                  height="480px"
                  src="/img/SOLICITAR-VIDEO.png"
                  fluid
                  alt="Responsive image"
                ></b-img>
                <div class="text-container font-bebas h1">
                  <b-link to="/solicitar-video">Solicitar video</b-link>
                </div>
              </div>
            </b-col>
          </b-row>
        </b-col>
        <b-col class="mx-auto my-3" sm="12">
          <b-row>
            <b-col sm="12" md="4" class="mb-1">
              <div class="position-relative">
                <b-img
                  id="cuarto"
                  height="480px"
                  src="/img/soporte.png"
                  fluid
                  alt="Responsive image"
                ></b-img>
                <div class="text-container font-bebas h1">
                  <b-link to="/soporte">Soporte</b-link>
                </div>
              </div>
            </b-col>
            <b-col sm="12" md="4" class="mb-1">
              <div class="position-relative">
                <b-img
                  id="quinto"
                  height="480px"
                  src="/img/HISTORICO-RITUALES.png"
                  fluid
                  alt="Responsive image"
                ></b-img>
                <div class="text-container font-bebas h1">
                  <b-link to="/historico">Histórico Rituales</b-link>
                </div>
              </div>
            </b-col>
            <b-col sm="12" md="4" class="mb-1">
              <div class="position-relative">
                <b-img
                  id="sexto"
                  height="480px"
                  src="/img/RITUALES-PENDIENTES.png"
                  fluid
                  alt="Responsive image"
                ></b-img>
                <div class="text-container font-bebas h1">
                  <b-link to="/rituales-pendientes">Rituales Pendientes</b-link>
                </div>
              </div>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Driver from "driver.js";
export default {
  name: "VistaAdministrador",
  components: {},
  created() {
    // if (!localStorage.getItem("token")) {
    //   this.$router.push("/bienvenido");
    // }
  },

  mounted() {
    if (!localStorage.getItem("tutorial")) {
      setTimeout(() => {
        this.tutorial();
      }, 500);
    }
    if (localStorage.getItem("tutorial") == "true") {
      setTimeout(() => {
        this.tutorial();
      }, 500);
    }
  },
  data: function() {
    return {};
  },
  methods: {
    tutorial() {
      const driver = new Driver({
        allowClose: false,
        overlayClickNext: false,
        doneBtnText: "Listo",
        closeBtnText: "Cerrar",
        nextBtnText: "Siguiente",
        prevBtnText: "Anterior",
      });
      driver.defineSteps([
        {
          element: "#primero",
          popover: {
            title: "Creación de Ritual",
            description: "Aquí podrás escoger y generar tus rituales.",
            position: "bottom",
          },
        },
        {
          element: "#segundo",
          popover: {
            title: "Subir video",
            description: "Aquí puedes subir tus videos pregrabados.",
            position: "bottom",
          },
        },
        {
          element: "#tercero",
          popover: {
            title: "Solicitar video",
            description:
              "Aquí puedes ingresar una solicitud para videos personalizados.",
            position: "bottom",
          },
        },
        {
          element: "#cuarto",
          popover: {
            title: "Soporte",
            description: "Accede a videos tutoriales de la plataforma.",
            position: "top",
          },
        },
        {
          element: "#quinto",
          popover: {
            title: "Histórico Rituales",
            description: "Revisa los rituales emitidos previamente.",
            position: "top",
          },
        },
        {
          element: "#sexto",
          popover: {
            title: "Rituales Pendientes",
            description:
              "Aquí encontrarás los rituales que aún no has concluido.",
            position: "top",
          },
        },
      ]);
      driver.start();
      localStorage.setItem("tutorial", false);
    },
  },
};
</script>

<style lang="scss" scoped>
.administrador-container {
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(254, 190, 32);
  background-image: linear-gradient(
    135deg,
    rgba(254, 190, 32, 1),
    rgba(255, 97, 32, 1),
    rgba(255, 43, 65, 1),
    rgba(255, 32, 221, 1)
  );
  background-position: center;
  background-size: cover;
}

.position-relative {
  overflow: hidden;
}
.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.driver-highlighted-element + div {
  z-index: 999999;
}
.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  background-color: transparent;

  &:hover {
    background-color: rgba(0, 0, 0, 0.561);
    // text-decoration: ;
    transform: scale(1.1);
    a::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: white;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
  }

  top: 0;
  left: 0;
}
p {
  margin: 1rem 0;
  text-align: center !important;
  color: white !important;
  letter-spacing: 0.05rem !important;
}
.card {
  border-radius: 20px;
}
.custom-button {
  background-color: black !important;
  font-weight: bold;
  width: 65%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
</style>
