<template>
  <swiper ref="mySwiper" :options="swiperOptions">
    <swiper-slide>
      <img src="https://picsum.photos/480" class="img-thumbnail p-0" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://picsum.photos/480" class="img-thumbnail p-0" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://picsum.photos/480" class="img-thumbnail p-0" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://picsum.photos/480" class="img-thumbnail p-0" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://picsum.photos/480" class="img-thumbnail p-0" />
    </swiper-slide>
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>
</template>
<style lang="scss" scoped>
.active {
  border: 2px red outset;
}
</style>
<script>
export default {
  name: "CardSwiper",
  props: ["slidesPerView"],
  data() {
    return {
      swiperOptions: {
        loop: true,
        slidesPerView: this.slidesPerView,
        pagination: {
          el: ".swiper-pagination",
        },
      },
    };
  },
  computed: {
    swiper() {
      // console.log(this.$refs.mySwiper.$swiper);
      return this.$refs.mySwiper.$swiper;
    },
  },
  mounted() {
    // console.log("Current Swiper instance object", this.swiper);
    this.swiper.slideTo(3, 1000, false);
  },
};
</script>
