<template>
  <div>
    <swiper class="swiper" ref="mySwiper" :options="swiperOption">
      <swiper-slide>
        <b-img src="/img/PROPOSITO-VTR.png" alt="Madison Image"></b-img>
      </swiper-slide>
      <swiper-slide>
        <b-img src="/img/CREAR-RITUAL.png" alt="Madison Image"></b-img>
      </swiper-slide>
      <swiper-slide>
        <b-img src="/img/SUBIR-VIDEO.png" alt="Madison Image"></b-img>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
export default {
  name: "Carousel",
  components: {},
  computed: {
    swiper() {
      return this.$refs.mySwiper.$swiper;
    },
  },
  mounted() {
    this.swiper.slideToLoop(1, 2500, false);
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 3,
        loop: true,
        effect: "fade",
        grabCursor: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: true,
        },
      },
    };
  },
};
</script>

<style lang="scss" scoped >
.swiper-slide {
  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
  }
  p {
    margin: 1rem 0;
    text-align: center;
    letter-spacing: 0.05rem !important;
    color: white !important;
    text-transform: uppercase !important;
  }
}
</style>