<template>
  <div class="mt-5">
    <h2 class="text-center">Bienvenido a VTR Madison</h2>
    <form @submit="onSubmit" class="p-md-4">
      <div class="form-group row d-flex justify-content-center align-items-center">
        <label for="username" class="col-sm-2 col-form-label font-weight-bolder">Acceso:</label>
        <div class="col-sm-4">
          <input
            type="text"
            required
            minlength="3"
            class="form-control"
            v-model="form.username"
            id="username"
            placeholder="Ingrese nombre de usuario"
          />
        </div>
      </div>
      <div class="form-group row d-flex justify-content-center align-items-center">
        <label for="password" class="col-sm-2 col-form-label font-weight-bolder">Contraseña:</label>
        <div class="col-sm-4">
          <input
            type="password"
            required
            minlength="8"
            v-model="form.password"
            class="form-control"
            id="password"
            placeholder="Ingrese su contraseña"
          />
        </div>
      </div>
      <div class="form-group row d-flex justify-content-center align-items-center">
        <div class="col-sm-6 pr-md-3">
          <b-form-group>
            <b-form-checkbox-group v-model="form.connected">
              <b-form-checkbox value="connected">Mantenerme conectado</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-center align-items-center">
        <div class="col-sm-6 mx-auto">
          <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-center align-items-center">
        <div
          class="col-sm-6 mx-auto d-flex justify-content-center align-items-center font-weight-bolder"
        >
          <p>
            ¿Olvidaste tu contraseña?
            <router-link to="/recover">Click aqui</router-link>
          </p>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "FormLogin",
  data() {
    return {
      form: {
        username: "",
        password: "",
        connected: [],
      },
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      console.log(JSON.stringify(this.form));
      // this.onReset();
    },
    onReset() {
      this.form.username = "";
      this.form.password = "";
      this.form.connected = [];
    },
  },
};
</script>
