<template>
  <div>
    <header @change="verifyUser" class="position-static">
      <b-navbar toggleable type="dark" variant="dark">
        <b-navbar-toggle
          v-b-toggle.sidebar-1
          target="navbar-toggle-collapse"
        ></b-navbar-toggle>
        <b-navbar-brand class="m-auto" to="/">
          <img src="@/assets/img/LOGO-VTR.png" height="80px" alt="Logo VTR" />
        </b-navbar-brand>
        <b-sidebar id="sidebar-1" shadow>
          <div class="bg-black w-100 h-100">
            <b-list-group
              class="px-3 py-2 bg-dark h-100 d-flex flex-column h5 justify-content-start align-items-start"
            >
              <b-list-group-item v-if="isLogin" to="/vista-administrador"
                >Menú Principal</b-list-group-item
              >
              <b-list-group-item v-if="isLogin" to="/perfil"
                >Mi Perfil</b-list-group-item
              >
              <b-list-group-item v-if="isLogin" to="/planes"
                >Cambio de plan VTR</b-list-group-item
              >
              <b-list-group-item v-if="!isLogin" to="/"
                >Ingresar</b-list-group-item
              >
              <b-list-group-item v-if="isLogin" to="/cambio-contrasenia"
                >Cambio de contraseña</b-list-group-item
              >
              <b-list-group-item v-if="!isLogin" to="/recuperar-contrasenia"
                >Olvide mi contraseña</b-list-group-item
              >
              <b-list-group-item
                v-if="isLogin"
                class="cursor-pointer"
                @click="logout"
                >Cerrar sesión</b-list-group-item
              >
            </b-list-group>
          </div>
        </b-sidebar>
      </b-navbar>
    </header>
  </div>
</template>

<script>
export default {
  name: "HeaderNav",
  created() {
    this.verifyUser();
  },
  watch: {
    $route() {
      this.verifyUser();
    },
  },
  data() {
    return { isLogin: false };
  },
  methods: {
    verifyUser() {
      if (localStorage.getItem("token")) {
        this.isLogin = true;
      }
    },
    logout() {
      const token = localStorage.getItem("token");
      if (token) {
        const headers = new Headers();
        headers.append("x-access-token", token);
        const requestOptions = {
          method: "GET",
          headers,
        };
        fetch("https://virtualteamroutine.cf/api/netout", requestOptions)
          .then((response) => response.text())
          .then(() => {
            localStorage.removeItem("token");
            this.isLogin = false;
            this.$router.push("/");
          })
          .catch(() => {
            localStorage.removeItem("token");
            this.isLogin = false;
            this.$router.push("/");
          });
      }
    },
  },
};
</script>

<style lang="scss">
header.position-static {
  width: 100vw;
}
.bg-dark,
.list-group-item {
  background-color: black !important;
  color: white !important;
  font-weight: bolder;
  text-decoration: none;
}
.cursor-pointer {
  cursor: pointer;
}
.b-sidebar-body {
  border-radius: 0px !important;
}
.b-sidebar {
  background-color: black !important;
  & > .b-sidebar-header {
    background-color: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    button {
      color: white !important;
    }
  }
}

.b-sidebar > .b-sidebar-header .close {
  float: none;
  font-size: 2.5rem;
  color: white !important;
}
</style>
