<template>
  <b-container class="p-0 mx-0 my-3 font-gotham">
    <b-row class="p-0 mx-0">
      <!-- <b-col sm="12" class="px-0" md="6">
        <p class="mx-0">
          Ritual
          <strong>"{{titleText}}"</strong>
        </p>
      </b-col> -->
      <b-col class="px-0" sm="12" md="6">
        <p class="text-secondary text-md-right">{{ fechaText }}</p>
      </b-col>
      <b-col class="pl-0" sm="12" md="8">
        <swiper ref="mySwiper" :options="swiperOptions">
          <swiper-slide :key="index" v-for="(item, index) in historial">
            <img
              :src="'https://virtualteamroutine.cf' + item.miniatura"
              class="img-thumbnail p-0"
            />
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
      </b-col>
      <b-col
        sm="12"
        md="4"
        class="flex-column-center px-0 my-3 font-gotham font-weight-bold"
      >
        <b-form-group>
          <b-form-checkbox-group v-model="form.active">
            <b-form-checkbox @change="reactivarRitual" value="active"
              >Deseo reactivar este formulario para volver a
              emitir.</b-form-checkbox
            >
          </b-form-checkbox-group>
        </b-form-group>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "HistoricoCarousel",
  props: ["title", "fecha", "item"],

  data() {
    return {
      form: {
        active: [],
      },
      swiperOptions: {
        loop: true,
        slidesPerView: 4,
        pagination: {
          el: ".swiper-pagination",
        },
      },
      historial: this.item,
      titleText: this.title,
      fechaText: this.fecha,
    };
  },
  methods: {
    reactivarRitual() {
      this.$swal
        .fire({
          title: "¡Ritual Reactivado!",
          text:
            "Por el plan mensual contratado,tienes disponible hasta máximo 2 reactivaciones de ritual al mes. Te queda un cambio disponible.",
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          cancelButtonText: "Ok",
        })
        .then(() => {
          this.$router.push("/vista-administrador");
        });
    },
  },
};
</script>

<style lang="scss" scoped >
</style>