<template>
  <b-row class="my-3">
    <b-col v-if="render" sm="12" md="8">
      <swiper ref="mySwiper" :options="swiperOptions">
        <swiper-slide
          :key="index + Math.random()"
          v-for="(item, index) in data"
        >
          <img
            :src="'https://virtualteamroutine.cf' + item.miniatura"
            class="img-thumbnail p-0"
          />
        </swiper-slide>
      </swiper>
    </b-col>
    <b-col class="flex-column-center" sm="12" md="4">
      <b-form-group class="cursor-pointer" @click="selecionado">
        <b-form-checkbox-group
          class="font-weight-bolder"
          @click="selecionado"
          v-model="seleccionar"
        >
          <b-form-checkbox size="lg" @change="selecionado" value="active"
            >Elegir</b-form-checkbox
          >
        </b-form-checkbox-group>
      </b-form-group>
    </b-col>
  </b-row>
</template>
<style lang="scss" scoped>
.swiper-slide {
  cursor: grab;
}
.cursor-pointer {
  cursor: pointer;
}
img {
  width: 170px !important;
  height: 170px !important;
}
</style>
<script>
export default {
  name: "Ritual",
  props: ["ritual"],
  created() {
    this.render = false;
    for (const item in this.data) {
      this.videos.push(this.data[item]["id"]);
    }
    // this.videos = { lista_clips: aux };
  },
  mounted() {
    setTimeout(() => {
      this.render = true;
    }, 1000);
    // const aux = this.swiperOptions;
    // this.swiperOptions = aux;
    // this.$forceUpdate();
  },
  updated() {
    const aux = this.swiperOptions;
    this.swiperOptions = aux;
  },
  data() {
    return {
      data: this.ritual,
      videos: [],
      seleccionar: null,
      render: true,
      swiperOptions: {
        loop: true,
        slidesPerView: 4,
        pagination: {
          el: ".swiper-pagination",
        },
        speed: 500,
      },
    };
  },
  methods: {
    selecionado() {
      localStorage.setItem("ritual", this.videos);
      console.log(localStorage.getItem("ritual"));
      this.$router.push("/vista-previa");
    },
  },
};
</script>
