<template>
  <div>
    <swiper class="swiper" ref="mySwiper" :options="swiperOption">
      <swiper-slide>
        <b-link class="text-decoration-none" to="/proposito-vtr">
          <b-img
            src="/img/PROPOSITO-VTR.png"
            fluid
            alt="Responsive image"
          ></b-img>
          <p>PROPÓSITO VTR</p>
        </b-link>
      </swiper-slide>
      <swiper-slide>
        <b-link class="text-decoration-none" to="/crear-ritual">
          <b-img
            src="/img/CREAR-RITUAL.png"
            fluid
            alt="Responsive image"
          ></b-img>
          <p>CREAR RITUAL</p>
        </b-link>
      </swiper-slide>
      <swiper-slide>
        <b-link class="text-decoration-none" to="/subir-video">
          <b-img
            src="/img/SUBIR-VIDEO.png"
            fluid
            alt="Responsive image"
          ></b-img>
          <p>SUBIR VIDEO</p>
        </b-link>
      </swiper-slide>
      <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
  </div>
</template>

<script>
export default {
  name: "TutorialesCarousel",
  components: {},
  computed: {
    swiper() {
      return this.$refs.mySwiper.$swiper;
    },
  },
  mounted() {},
  data() {
    return {
      swiperOption: {
        direction: "horizontal",
        loop: true,
        effect: "fade",
        grabCursor: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: true,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        keyboard: {
          enabled: true,
          onlyInViewport: false,
        },
        breakpoints: {
          719: {
            slidesPerView: 1,
            spaceBetween: 30,
          },

          720: {
            slidesPerView: 2,
            spaceBetween: 30,
          },
        },
      },
    };
  },
};
</script>

<style lang="scss" scoped >
.swiper-slide {
  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
  }
  p {
    margin: 1rem 0;
    text-align: center;
    letter-spacing: 0.05rem !important;
    color: white !important;
    text-transform: uppercase !important;
  }
}
</style>