<template>
  <div id="app">
    <comp-loading v-if="loading"></comp-loading>

    <comp-header-nav></comp-header-nav>
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
    <div class="by-madison"></div>
  </div>
</template>


<script>
import HeaderNav from "./components/HeaderNav.vue";
import Loading from "./components/Loading,.vue";
export default {
  components: {
    "comp-header-nav": HeaderNav,
    "comp-loading": Loading,
  },
  created() {
    if (!localStorage.getItem("conected")) {
      localStorage.removeItem("token");
    }
  },
  mounted() {
    this.loading = false;
  },
  data() {
    return {
      loading: true,
    };
  },
  destroyed() {
    console.log("entrea");
    if (localStorage.getItem("conected") != "true") {
      localStorage.removeItem("conected");
      localStorage.removeItem("token");
    } else {
      console.log("no entrea");
    }
  },
};
</script>

<style lang="scss">
@font-face {
  font-family: BebasNeue;
  src: url("./assets/fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: GothamBook;
  src: url("./assets/fonts/GothamBook.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Stawix;
  src: url("./assets/fonts/Stawix - RleudCondensed-Demi.otf");
  font-weight: normal;
}
.font-bebas {
  font-family: BebasNeue;
}
.font-gotham {
  font-family: GothamBook;
}
.fade-enter-active {
  transition: opacity 0.25s ease;
  transition-delay: 0.25s;
}
html,
body,
.fixed {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.custom-size {
  color: white;
  font-size: 45px !important ;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 2rem;
  }
}
body {
  background-image: linear-gradient(
    135deg,
    rgba(254, 190, 32, 1),
    rgba(255, 97, 32, 1),
    rgba(255, 43, 65, 1),
    rgba(255, 32, 221, 1)
  );
}
$a: 100vh;
$b: 106px;
.fixed {
  min-height: Calc(#{$a} - #{$b}) !important;
}
.administrador-container {
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  min-height: Calc(#{$a} - #{$b}) !important;
  background-color: rgb(254, 190, 32);
  background-image: linear-gradient(
    135deg,
    rgba(254, 190, 32, 1),
    rgba(255, 97, 32, 1),
    rgba(255, 43, 65, 1),
    rgba(255, 32, 221, 1)
  );
  background-position: center;
  background-size: cover;
}
.bienvenido-container {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  min-height: Calc(#{$a} - #{$b}) !important;
  background-image: url("./assets/img/IMAGEN-DE-FONDO-V1.jpg");
  background-position: center;
  background-size: cover;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Cargar Video" !important;
}
.custom-file-input:lang(es) ~ .custom-file-label::after {
  content: "Cargar Video" !important;
}
.custom-file-input ~ .custom-file-label::after {
  content: "Cargar Video" !important;
}
.custom-file-input ~ .custom-file-label[data-browse]::after {
  content: "Cargar Video" !important;
}
.custom-file-label::after {
  color: white !important;
  background-color: black !important;
  font-weight: bolder !important;
}
.btn-secondary {
  border-color: black !important;
  color: white !important;
}
.child-center {
  // position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-size {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  @media (max-width: 720px) {
    font-size: 3.5rem;
  }
}
.bg-dark {
  background-color: black !important;
  color: white !important;
  font-weight: bolder;
}
.flex-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flex-row-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.letter-1 {
  letter-spacing: 0.25rem;
}
.letter-2 {
  letter-spacing: 0.5rem;
}
.letter-3 {
  letter-spacing: 0.75rem;
}
.letter-4 {
  letter-spacing: 1rem;
}
.letter-4 {
  letter-spacing: 1.5rem;
}
button {
  font-weight: bolder;
}
.by-madison {
  position: fixed;
  width: 150px;
  height: 50px;
  background-image: url("./assets/img/BY-MADISON.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 1.25%;
  right: 1.5%;
  @media (max-width: 720px) {
    position: static;
    display: none;
  }
}
//Driver CSS
div#driver-popover-item {
  display: none;
  position: absolute;
  background: #fff;
  color: #2d2d2d;
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  min-width: 250px;
  max-width: 300px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  z-index: 1000000000;
}
div#driver-popover-item .driver-popover-tip {
  border: 5px solid #fff;
  content: "";
  position: absolute;
}
div#driver-popover-item .driver-popover-tip.bottom {
  bottom: -10px;
  border-color: #fff transparent transparent;
}
div#driver-popover-item .driver-popover-tip.bottom.position-center {
  left: 49%;
}
div#driver-popover-item .driver-popover-tip.bottom.position-right {
  right: 20px;
}
div#driver-popover-item .driver-popover-tip.left {
  left: -10px;
  top: 10px;
  border-color: transparent #fff transparent transparent;
}
div#driver-popover-item .driver-popover-tip.left.position-center {
  top: 46%;
}
div#driver-popover-item .driver-popover-tip.left.position-bottom {
  top: auto;
  bottom: 20px;
}
div#driver-popover-item .driver-popover-tip.right {
  right: -10px;
  top: 10px;
  border-color: transparent transparent transparent #fff;
}
div#driver-popover-item .driver-popover-tip.right.position-center {
  top: 46%;
}
div#driver-popover-item .driver-popover-tip.right.position-bottom {
  top: auto;
  bottom: 20px;
}
div#driver-popover-item .driver-popover-tip.top {
  top: -10px;
  border-color: transparent transparent #fff;
}
div#driver-popover-item .driver-popover-tip.top.position-center {
  left: 49%;
}
div#driver-popover-item .driver-popover-tip.top.position-right {
  right: 20px;
}
div#driver-popover-item .driver-popover-tip.mid-center {
  display: none;
}
div#driver-popover-item .driver-popover-footer {
  display: block;
  margin-top: 10px;
}
div#driver-popover-item .driver-popover-footer button {
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #d4d4d4;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  color: #2d2d2d;
  font: 11px / normal sans-serif;
  cursor: pointer;
  outline: 0;
  background-color: #f1f1f1;
  border-radius: 2px;
  zoom: 1;
  line-height: 1.3;
}
div#driver-popover-item .driver-popover-footer button.driver-disabled {
  color: grey;
  cursor: default;
  pointer-events: none;
}
div#driver-popover-item .driver-popover-footer .driver-close-btn {
  float: left;
}
div#driver-popover-item .driver-popover-footer .driver-btn-group,
div#driver-popover-item .driver-popover-footer .driver-close-only-btn {
  float: right;
}
div#driver-popover-item .driver-popover-title {
  font: 19px / normal sans-serif;
  margin: 0 0 5px;
  font-weight: 700;
  display: block;
  position: relative;
  line-height: 1.5;
  zoom: 1;
}
div#driver-popover-item .driver-popover-description {
  margin-bottom: 0;
  font: 14px / normal sans-serif;
  line-height: 1.5;
  color: #2d2d2d;
  font-weight: 400;
  zoom: 1;
}
.driver-clearfix:after,
.driver-clearfix:before {
  content: "";
  display: table;
}
.driver-clearfix:after {
  clear: both;
}
.driver-stage-no-animation {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  background: transparent !important;
  outline: 5000px solid rgba(0, 0, 0, 0.75);
}
div#driver-page-overlay {
  background: #000;
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  zoom: 1;
  filter: alpha(opacity=75);
  opacity: 0.75;
  z-index: 100002 !important;
}
div#driver-highlighted-element-stage,
div#driver-page-overlay {
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
div#driver-highlighted-element-stage {
  position: absolute;
  height: 50px;
  width: 300px;
  background: #fff;
  z-index: 100003 !important;
  display: none;
  border-radius: 2px;
}
.driver-highlighted-element {
  z-index: 100004 !important;
}
.driver-position-relative {
  position: relative !important;
}
.driver-fix-stacking {
  z-index: auto !important;
  opacity: 1 !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  -webkit-filter: none !important;
  -moz-filter: none !important;
  -ms-filter: none !important;
  -o-filter: none !important;
  filter: none !important;
  -webkit-perspective: none !important;
  -moz-perspective: none !important;
  -ms-perspective: none !important;
  -o-perspective: none !important;
  perspective: none !important;
  -webkit-transform-style: flat !important;
  -moz-transform-style: flat !important;
  -ms-transform-style: flat !important;
  transform-style: flat !important;
  -webkit-transform-box: border-box !important;
  -moz-transform-box: border-box !important;
  -ms-transform-box: border-box !important;
  -o-transform-box: border-box !important;
  transform-box: border-box !important;
  will-change: unset !important;
}
</style>



